<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <style>
        .money {
            font-size: 24px;
            font-family: "DejaVu Serif", serif;
            color: limegreen;
        }
    </style>
</head>
<body>
<!--/*@thymesVar id="user" type="com.energizeglobal.internship.dto.UserDto"*/-->
<h1 style="text-align: center" th:text="${user.getFirstName()} +' ' +  ${user.getLastName()}"></h1>
<div style="text-align: center">

        <label>Past incomes</label>
        <label class="money" th:text="${pastIncomesAmount}+'$'"></label>
    <br/>
        <label>Past costs</label>
        <label class="money" th:text="${pastCostsAmount}+'$'"></label>
    <br/>
        <label>Future incomes</label>
        <label class="money" th:text="${futureIncomesAmount}+'$'"></label>
    <br/>
        <label>Future costs</label>
        <label class="money" th:text="${futureCostsAmount}+'$'"></label>
</div>

</body>
</html>